/* Font */
* {
  margin: 0;
}

.thasadith-regular {
  font-family: "Thasadith", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.thasadith-bold {
  font-family: "Thasadith", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.thasadith-regular-italic {
  font-family: "Thasadith", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.thasadith-bold-italic {
  font-family: "Thasadith", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.abhaya-libre-extrabold {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
}

/* Navigator Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(121, 138, 115, 1);
    padding: 20px;
}

.logo img {
  padding-left: 1px;
  width: 40%;
}

.menu {
  display: flex;
  gap: 30px;
  justify-content: end;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
}

.profileimg {
  width: 20%;
  padding-right: 10px;
}

.ground {
  text-align: center;
  color: rgba(93, 114, 86, 1);
  font-size: 90px;
  padding-top: 60px;
}

body {
  background-image: url(./bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.describe {
  color: rgba(224, 218, 201, 1);
  font-size: 5em;
  padding: 120px;
  text-align: center;
}

.describe p span {
  color: white
}

.travel {
  height: 40%;
}

.travel button a {
  text-decoration: none;
  color: white;
}

.travel button {
  display: flex;
  width: 10%;
  justify-content: center;
  justify-self: center;
  padding: 20px ;
  border-radius: 20px;
  background-color: rgba(93, 114, 86, 1);
  font-size: 22px;
  box-shadow: 2px 2px 4px black;;
}

* {
  font-family: "Thasadith", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-shadow: 2px 2px 4px black;
}

@media screen and (max-width: 480px) {
  .describe {
  color: rgba(224, 218, 201, 1);
  font-size: 1.85em;
  padding: 120px;
  text-align: center;
  }

  body {
  background-image: url(./bg.png);
  min-height: 100vh;
}

  .ground {
  text-align: center;
  color: rgba(93, 114, 86, 1);
  font-size: 50px;
  padding-top: 60px;
  }

  .travel button {
  display: flex;
  width: 40%;
  justify-content: center;
  justify-self: center;
  padding: 10px ;
  border-radius: 20px;
  background-color: rgba(93, 114, 86, 1);
  font-size: 22px;
  box-shadow: 2px 2px 4px black;;
  }

  .profileimg {
  width: 20%;
  padding-right: 10px;
  }
}